.stylised-form {
	padding: 2em;

	.input {
	}

	.input,
	.textarea {
		margin: 0.4em 0 1em;
		padding: 0.3em;
		font-size: 0.9em;
		@include border-radius(3px);

		&:focus {
		}
	}

	.label {
		margin: 0.4em 0 0;
		clear: both;
		font-family: $font-headings;
	}

	.submit {
		margin-top: 1.6em;
		padding: 0.8em 0.4em;
		font-family: $font-headings;
		font-size: 1.1em;
	}

}// form
