//general icons style
.icon {
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  line-height: 1;
  font: {
      style: normal;
      variant: normal;
      weight: normal;
      family: $font-icons;
  }
}


// Icon list (corresponds to icon font characters)
// eg github:   '\f100',
$icons: (
);


@each $icon, $unicode in $icons {
  .icon-#{$icon}:before {
      content: $unicode;
  }
}
