@mixin font-face($name, $path : '../fonts/') {

	@font-face {
		font-family: quote($name);
    src: url('#{$path}#{$name}');
    src: url('#{$path}#{$name}?#iefix') format('embedded-opentype'),
		 url('#{$path}#{$name}.woff2') format("woff2"),
		 url('#{$path}#{$name}.woff') format("woff"),
		 url('#{$path}#{$name}.ttf') format("truetype"),
		 url('#{$path}#{$name}.svg##{$name}') format("svg");
    font-weight: normal;
    font-style: normal;
	}

}
